<mat-card>
<div class="card-header">
    <h2>{{note?.title}}</h2>
</div>

<div class="card-body cards">
 <p class="card-text">{{note?.content}}</p>
</div>

<div class="foot">
    <button mat-icon-button> 
        <mat-icon class="icon1" color="primary">commenting</mat-icon>
        <mat-icon class="icon2" color="primary">editing</mat-icon>
        <mat-icon class="icon3" color="primary">delete</mat-icon>
        <mat-icon class="icon4" color="warn">notifications</mat-icon>
    </button>
</div>
</mat-card>
